@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
     --framer-font-family: "Mona-Sans ExtraBold Wide", sans-serif;
  }
}

body {
 
}

 @font-face {
   font-family: 'Oliver Regular';
  src: url('../static/fonts/Oliver-Regular.ttf') format('woff2');
 }
 @font-face {
   font-family: 'Mono Sans';
  src: url('../static/fonts/Mona-Sans-BoldWide.ttf') format('woff2');
    font-weight: 900;
  
  font-stretch: 75% 125%;
 }
html {
  font-family: 'Mona Sans';
}
@layer components {
  .youtubecontainer {
    @apply bg-gradient-to-t from-white opacity-100 via-white  to-transparent ;
  }
}